.signup-form {
  max-width: 360px;
  margin: 60px auto;
  padding: 20px;
}
.signup-form label {
  display: block;
  margin: 30px auto;
}
.signup-form span {
  display: block;
  margin-bottom: 6px;
}
.signup-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  outline: 0;
  width: 100%;
}

.signup-form.dark {
  color: #C1C2C5
}

.signup-form.dark input {
  background: #25262B;
  outline: 0;
  border: 2px solid ;
  border-color: #25262B;
}